<div class="row">
    {%for job in jobs%}
      <div class="col-10">
        <div class="border-bottom" style="margin-bottom: 16px; padding-bottom: 8px; ">
          <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px; padding-bottom: 4px;">
            {{job["title"]}}
          </h4>
          <div><b>Location:</b>{{job["location"]}}</div>
          {%if "Salary" in job%}
            <div><b>Salary:</b> {{job["Salary"]}}</div>
          {% endif %}
          </div>
      </div>
      <div class="col-2">
        <a target="_blank" href="mailto:someone@yoursite.com?cc=someoneelse@theirsite.com, another@thatsite.com, me@mysite.com&bcc=lastperson@theirsite.com&subject=Big%20News&body=Body-goes-here" type="button" class="btn btn-outline-primary">Apply</a>
      </div>
    {%endfor%}
</div>